* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.txt-color-dark-blue {
   color: #054976;
   font-weight: bold;
   font-family: Open Sans, Bold;
}

.color-blue, a {
    font-weight: bold;
    font-family: Open Sans, Bold;
    font-size: 0.87rem;
    color: #3FAFF0;;
}

.img-peq {
    width: 14px;
    height: 14px;
    opacity: 1;
    margin-right: 0.3rem;
}

body {
    background-color: #71778188;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    letter-spacing: 0.3px;
}


/* ---------- H E A D E R ---------- */


header {
    background: #162541;
    border-radius: 0px 0px 12px 12px;
    opacity: 1;
    width: 600px;
    height: 78px;
    background-position: center;
    border-top: 0.2rem solid #3FAFF0;
}

.h-logo {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
}


/* ---------- I N F O ---------- */


.info {
    padding: 1.5rem;
    position: none;
    width: 600px;
    height: 409px;
    background: #FFFFFF;
    border-radius: 12px;
    opacity: 1;
    font-family: Open Sans, Regular;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.i-pt1 {
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:end;
}

.i-pt1-etiq1 {
    margin-bottom: 0.3rem;
    font-family: Open Sans, Regular;
    font-size: 1rem;
    letter-spacing: 0rem;
    color: #142341;
    opacity: 1;
}

.i-pt1-etiq2 {
    display: flex;
    align-items: center;
    width: 156px;
    height: 38px;
    background: #3FAFF0;
    border-radius: 8px 8px 0px 8px;
    opacity: 1;
    color: white;
    /* joni */
    padding-left:4px;
    margin-right:-35px;
}
/* Joni */
.tria {
    margin-right:-35px;
    width: 0; 
    height: 0; 
    border-bottom: 10px solid transparent;
    border-left: 11px solid #2A92CE;
}

.i-pt2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.i-pt2-img {
    width: 53px;
    height: 53px;
    opacity: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}

.i-pt2-c2 {
    flex-direction: column;
}

.i-pt2-c2 p {
    margin-bottom: 0.5rem;
    font-family: Open Sans, Regular;
    font-size: 1.12rem;
    color: #054976;
    opacity: 1;
}

.i-pt2-c2 h2 {
    font-family: EB Garamond, Bold;
    font-size: 1.56rem;
    color: #3FAFF0;
    opacity: 1;
}

#i-pt2-txt {
    max-width: 12rem;
    flex-wrap: wrap;
}

.i-pt3 {
    font-size: 0.87rem;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-flow: row;
    align-content: end;
}

.i-pt4 {
    margin: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-flow: row;
    align-content: end;
    font-size: 0.87rem;
}


/* ---------- D E T A L H E - C O M P R A ---------- */


.detalhe-compra {
    display:flex;
    flex-direction:column;
    padding: 1.5rem;
    width: 600px;
    height: 293px;
    background: #FFFFFF;
    border-radius: 12px;
    opacity: 1;
    margin-bottom: 1rem;
}

.dc-pt1 {
    display:flex;
    margin-bottom: 1rem;
    font-size: 0.87rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dc-pt1-table-img {
    border: solid gray;
    border-width: 1rem;
    border-radius: 8px;
    opacity: 1;
    margin-right: 1rem;
}

td {
    padding: 0.5rem;
    width: 600px;
    height: 50px;
    text-align: center;
    border-bottom: 0.1rem solid black;
}

td:first-child {
    width: 60%;
    text-align: left;
  }

.dc-pt2 {
    position: relative;
    font-size: 0.87rem;
    margin-left: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.dc-pt2-ft {
    display: flex;
    flex-flow: row; 
    margin-bottom: 1.5rem;
    justify-content: space-between; 
}

.dc-pt2-t {
    display: flex;
    flex-flow: row;
    justify-content: space-between;   
}

.txt-bold {
    font-weight: bold;
}


/* ---------- P A G A M E N T O ---------- */


.pagamento {
    padding: 1.5rem;
    width: 600px;
    height: 211px;
    background: #FFFFFF;
    border-radius: 12px;
    opacity: 1;
    margin-bottom: 1rem;
}

.p-pt1 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-flow: row;
    align-content: end;
    font-size: 0.87rem;
}

button {
    border: none;
    display: inline;
    align-content: center;
    justify-content: center;
    margin-left: 7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: white;
    font-weight: bold;
    width: 335px;
    height: 35px;
    background: #3FAFF0;
    border-radius: 28px;
    opacity: 1;
}

.pagamento p {
    text-align: center;
}


/* ---------- C O N T A T O ---------- */


.contato {
    padding: 1.5rem;
    width: 600px;
    height: 171px;
    background: #FFFFFF;
    border-radius: 12px;
    opacity: 1;
    margin-bottom: 1rem;
}

.c-pt1 {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.c-pt2 {
    line-height: 1.5rem;
}

.txt3 {
    color: #054976;
    font-weight: bold;
}


/* ---------- B L O C O - R E S E R V A ---------- */


.bloco-reserva {
    display: flex;
    margin-bottom: 1rem;
}

.br-bloco1 {
    padding: 1.5rem;
    width: 288px;
    height: 177px;
    background: white;
    border-radius: 12px;
    opacity: 1;
    margin-right: 1.5rem;
}

.br-bloco2 {
    padding: 1.5rem;
    width: 288px;
    height: 177px;
    background: white;
    border-radius: 12px;
    opacity: 1;
}



/* ---------- F O O T E R ---------- */


footer {
    padding: 1.5rem;
    width: 600px;
    height: 383px;
    background: #E2E5EA;
    border-radius: 12px;
    opacity: 1;
}

.f-pt1 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.f-pt2 {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    font-size: 0.8rem;
    font-family: Open Sans, Regular;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.f-pt2-c1 {
    margin-left: 3rem;
    line-height: 1.2rem;
}

.f-pt2-c2 {
    margin-right: 3rem;
    line-height: 1.5rem;
}

.f-pt2-c2-img {
    letter-spacing: 0.5rem;
}

.f-pt3 {
    margin: 1rem;
    display: flex;
    font-size: 0.8rem;
    font-family: Open Sans, Regular;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.f-pt3-l1 {
    margin-bottom: 1rem;
    width: 28rem;
    height: 3.56rem;
    line-height: 1.2rem;
}

.f-pt3-l2 {
    margin-bottom: 1rem;
    width: 34.685rem;
    height: 3.56rem;
    line-height: 1.2rem;
}


/* ---------- P Á G I N A 2 ---------- */

/* ---------- I N F O ---------- */


.pg2-i-pt3 p {
    margin: 1rem;
}


/* ---------- R A S T R E I O - P E D I D O ---------- */


.rastreio-pedido {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 600px;
    height: 90px;
    background: white;
    border-radius: 12px;
    opacity: 1;
    margin-bottom: 1rem;
}

.rp-pt1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* ---------- P Á G I N A 3 ---------- */

/* ---------- I N F O---------- */

.pg3-info {
    padding: 1.5rem;
    position: none;
    width: 600px;
    height: 271px;
    background: #FFFFFF;
    border-radius: 12px;
    opacity: 1;
    font-family: Open Sans, Regular;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.pg3-i-pt3 {
    margin-left: 1rem;
}